@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&familyimg-responsive=Lato:wght@100;400&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

html { 
  scroll-behavior: smooth; 
}

body {
    background-color: #343540;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  -webkit-app-region: no-drag;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
  opacity: 0.65;
  border: 1px solid rgba(222, 222, 222, 0.8);
  background: rgba(176, 176, 176, 0.8) !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(241, 241, 241, 0.8);
  border-radius: 5px;
  border: 1px solid var(--my-color);
}


header {
    width: auto;   
}

.group-name {
    position: absolute;
    cursor: pointer;
    color: white;
    left: 50px;
    top: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFE;
    text-shadow: 3px 3px 5px #888;
    user-select: none;
    
}

.recherche {
    position: absolute;
    top: 50px;
    right: 50px;

}

.containerHaut {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.titleClass {
  margin-left: 50px;
  margin-top: 15px;
  width: calc(0.7 * 100vw);
  height: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  color: #FFFFFE;
  text-shadow: 3px 3px 5px #888;
}

#icons {
    position: absolute;
    display: block;
    margin-top: -28px;
    margin-left: calc(40vw - 1vw);
}

.title {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 550px;
    height: 80vh;

    left: 90px;
    top: 90px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 85px;
    color: #FFFFFF;
    cursor: pointer;
}

nav {
  height: 30px;
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  -webkit-app-region: drag;    /* Allow user to drag the window using this titlebar */
  -webkit-user-select: none;   /* Prevent user from selecting things */
  user-select: none;
}

.response {
  text-align: center;
  top: 30;
  width: calc(99vw - 10px);
  height: 68vh;
  border:#b8b6ac 3px solid;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: hidden;
}

.messages {
  text-align: left;
  color: #b8b6ac;
  font-size: 1.5em;
  width: 90%;
  height: 90%;
  padding: 5%;
  scroll-behavior: smooth;
}

.form {
  margin-top: 2vh;
  background-color: #343540;
  border-color: #b8b6ac;
  border-radius: 20px;
  color: #b8b6ac;
  text-align: center;
}



#question {
  background-color: #343540;
  border: #b8b6ac 3px solid;
  color: #b8b6ac;
  border-radius: 20px;
  width: calc(95vw - 6px);
  height: 6vh;
  font-size: 1em;
  vertical-align: middle;
  padding: 10px;
  margin: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.form-entry {
  width: 100%;
  font-size: 1.5em;
}

.submitButton {
  background-color: #b8b6ac;
  color: #343540;
  width: 30vw;
  height: 40px;
  border-radius: 20px;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}

.imgTitleBar {
    position: fixed;
    top: 0;
    left: 10px;
    height: 30px;
    z-index: 5;
  }

.titrebar {
  text-align: center;
  color: #b8b6ac;
  font-size: 1.5em;
}

.btn {
    top: 0;
    font-size: 10px;
    
    height: 30px;
    width: 60px;
    padding-top: calc(15px - 7px);
    color: black;
    z-index: 0;
    border: 0.5px solid  rgba(0, 0, 0, 0);;
    cursor: pointer;
    -webkit-app-region: no-drag;
    text-shadow: 1px 1px 2px #888;
  }
  
.minimize-btn {
    background-color: rgba(127, 127, 127, 0.3);
  }
  
.maximize-btn {
    background-color: rgba(127, 127, 127, 0.3);
  }
  
.close-btn {
    background-color: rgba(127, 127, 127, 0.3);
  }
  
.btn:hover {
    background-color:rgba(17, 84, 151, 0.8);
    backdrop-filter: blur(2px);
  }
  
.close-btn:hover {
    background-color:rgba(255, 0, 0, 0.8);
    backdrop-filter: blur(2px);
  }

  
#orgaButton {
  margin-top: 20px;;
  display: flex;
  flex-direction: row;
}
#BA {
  font-family: Inter;
  font-weight: 200;
  font-size: 15px;
  color: white;
  
  width: 240px;
  height: 35px;

  display: flex;

  text-align: center;

  justify-content: center;
  align-items: center;
  background: #1d4c6b;
  border-radius: 10px;
  border-style: none;
  user-select: none;
  z-index: 5;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 6; /* Sit on top */
  left: 0;
  top: 0;
  width: 99vw; /* Full width */
  height: min(calc( 100vw / 1.666666667), 100vh); /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: fixed;
  margin-left: calc((100vw - 80vw) / 2);
  margin-top: max(calc((100vh - 80vh) / 2), calc((100vh - (80vw / 1.666666667)) / 2));
  background-color: #202020;
  border: 1px solid #888;
  width: 80vw; /* Could be more or less, depending on screen size */
  height: min(calc( 80vw / 1.666666667), 80vh);
}

/* The Close Button */
.close {
  position: fixed;
  color: #f00;
  margin-left: 5px;
  font-size: 28px;
  font-weight: bold;
  z-index: 2;
}

.close:hover,
.close:focus {
  color: rgb(146, 23, 23);
  text-decoration: none;
  cursor: pointer;
}
